@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 83.4%;
    max-width: 1100px;
    min-width: 600px;
    margin: 0 auto;
    border: 1px solid blue;
}

#sidebar {
    display: flex;
}

#sidebar > div {
   margin-left: 36px;
}

#logo {
    font-size: 26px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 2.23;
    /* color: #ffffff; */
}

#hamburger-menu {
 display: none;
}

@media (max-width: 575px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #sidebar {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }
}